body {
  color: white;
  font-family: 'Saira', sans-serif;
  box-sizing: border-box;
  background-image: url(https://www.kingsagriseeds.com/wp-content/uploads/2013/12/DSC_6709.jpg);
  background-position: fixed; 
}

header {
  text-align: center;
  width: 100%;
}

.info {
  margin-bottom: 0px;
}

.info2 {
  margin-top: 0px;
}

h1 {
  text-align: center;
  letter-spacing: 10px;
}

form {
  text-align: center;
  margin-top: 30px;
}

input {
  width: 400px;
  height: 30px;
  text-align: center;
  font-size: 14px;
}

input::placeholder {
  color: darkgrey;
}

button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: all 1.5s ease-out;
  background-color: transparent;
  border-style: solid;
  text-align: center;
  border-color: white;
  color: white;
}

hr {
  width: 100px;
}

/*
a {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
*/

.info {
  text-align: center;
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
}

#weather>p {
  margin-top: 18px;
  width: 100%;
}

#container {
  margin-top: 40px;
  margin-bottom: 2%;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

/*
#placeInfo {
  float: left;
  width: 22%;
  text-align: center;
  border-color: white;
  border-width: 2px;
  margin-right: 2%;
  border-style: solid;
}
*/

#map {
  width: 450px;
  height: 450px;
  color: black;
  text-align: center;
  float: left;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

#map>img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#weather {
  color: black;
  width: 400px;
  text-align: center;
  display: inline-block;
  position: relative;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  background: rgba(255, 255, 255, 0.7);
}

.weather-description {
  margin-top: 20px;
  margin-bottom: 0px;
}

.weather-temp {
  margin-top: 0px;
}

::placeholder {
  text-align: center;
  color: red;
}


@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 568px) { 
    
    body {
      background-image: url(http://www.kingsagriseeds.com/wp-content/uploads/2013/12/DSC_6709.jpg);
      background-attachment: fixed; 
    }
    
    h1 {
      letter-spacing: 17px;
      font-size: 100px;
    }
    
    input {
      width: 700px;
      height: 100px;
      border-radius: 0;
      font-size: 50px;
    }
    
    button {
      width: 200px;
      height: 200px;
      font-size: 40px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 80px;
      transition: background-color 0.3s ease;
    }
    
    button:hover {
      transform: scale(1)
    }
    
    #container {
      display: block;
    }
    
    .weather-pic {
      width: 300px;
      height: 300px; 
    }
    
    .info {
      font-size: 80px;
    }
    
    .info2 {
      font-size: 60px;
    }
  
    #map {
      width: 100%;
      margin: 0px;
      margin-top: 30px;
      float: none;
    }
    
/*
    #placeInfo {
      width: 90%;
      text-align: center;
      border-color: white;
      border-width: 2px;
      margin-right: auto;
      margin-left: auto;
      border-style: solid;
      font-size: 60px;
      margin-bottom: 40px;
      float: none;
    } 
    
*/
    #weather {
      font-size: 80px;
      text-align: center;
      display: block;
      width: 90%;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
    }
    
    ::placeholder {
      visibility: hidden;
    }
  }